.chartCardContainer {
    display: grid;
    width: 100%;
    grid-gap: 12px;
    cursor: pointer;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width:768px) {
    .chartCardContainer {
        display: flex;
        width: 100%;
        overflow-x: auto;
    }

    .otherPageContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }
}