.conteiner {
    display: flex;
    width: 100%;
    flex-direction: column;
}


.everyDay {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-bottom: 20px;
}

.headerNames{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.paths{
    color: hsla(0, 0%, 100%, .64);
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}

.pageTitle{
    color: white;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}
.everyDay img {
    max-width: 200px;
    width: 100%;
}

.everyDay span {
    font-size: 20px;
}

.wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.musicData {
    display: flex;
    flex-direction: column;
    gap: 5px;
}