.container {
    position: relative;
}

.userWindow {
    background-color: #000;
    width: 295px;
    height: 95px;
    padding: 16px, 96px, 16px, 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    position: absolute;
    right: 100px;
}