.children {
    display: flex;
    justify-content: center;
    overflow: auto;
    height: calc(100vh - 72px);
    width: 100%;
}

.children::-webkit-scrollbar {
    display: none;
}

.container {
    overflow-x: hidden;
}

.musicContainer {
    display: flex;
    position: relative;
}

.musicList {
    padding: 8px 12px 8px 8px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.test {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}


@media screen and (min-width:1023px) {
    .mobileNavBarContainer {
        display: none;
    }
}

@media screen and (max-width:1023px) and (min-width:768px) {
    .navMenuContainer {
        display: none;
    }

    .mobileNavBarContainer {
        display: none;
    }

    .test {
        display: none;
    }

    .MusicPlayer {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .children {
        width: 100%;
        height: calc(100vh - 161px);
    }

}

@media screen and (max-width:768px) {

    .navBarContainer {
        display: none;
    }

    .navMenuContainer {
        display: none;
    }

    .mobileNavBarContainer {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1000;
    }

    .headerContainer {
        display: none;
    }

    .test {
        display: none;
    }

    .MusicPlayer {
        width: 100%;
    }

    .pages {
        height: calc(100vh - 114px);
    }

    .children {
        padding-right: 9px;
        width: 100%;
        padding-left: 0px;
        height: calc(100vh - 114px);

    }

    .musicList {
        padding-right: 0px;
    }
}



.pages {
    display: flex;
}