.navMenuContainer {
    width: 300px;
}

.pages {
    display: flex;
}

.childrenContainer {
    width: 100%;
    padding: 20px;
}

@media screen and (min-width:1023px) {
    .mobileNavBarContainer {
        display: none;
    }
}

@media screen and (max-width:1023px) and (min-width:768px) {
    .navMenuContainer {
        display: none;
    }

    .mobileNavBarContainer {
        display: none;
    }

    .childrenContainer {
        padding-left: 0px;
    }
}

@media screen and (max-width:768px) {
    .navBarContainer {
        display: none;
    }

    .navMenuContainer {
        display: none;
    }

    .mobileNavBarContainer {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1000;
    }

    .headerContainer {
        display: none;
    }

    .childrenContainer {
        padding-left: 0px;
    }
}