.children {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.musicList {
    padding: 8px 12px 8px 8px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.test {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}


.MusicPlayer {
    display: flex;
}


@media screen and (min-width:1023px) {
    .mobileNavBarContainer {
        display: none;
    }
}

@media screen and (max-width:1023px) and (min-width:768px) {
    .navMenuContainer {
        display: none;
    }

    .mobileNavBarContainer {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .navBarContainer {
        display: none;
    }

    .navMenuContainer {
        display: none;
    }

    .mobileNavBarContainer {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1000;
    }

    .headerContainer {
        display: none;
    }
}

.navMenuContainer {
    width: 300px;
}

.pages {
    display: flex;
}