.topAlbumsContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 796px;
    width: 100%;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
    margin-left: 20px;
    padding-left: 15px;
}

.TrendHitsCard {
    padding-top: 20px;
    width: 100%;
}

.ArtistCard {
    width: 100%;
    display: grid;
    grid-gap: 42px;
}

.topCharts {
    width: 100%;
    display: grid;
    grid-gap: 42px;

}

.seactionHeader {
    display: flex;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.ArtistCard {
    display: grid;
    width: 100%;
}

.musicCard {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.topAlbums {
    width: 100%;
    display: grid;
}

.topAlbums {
    padding-top: 20px;
}

@media screen and (max-width:1023px) and (min-width:768px) {
    .ArtistCard {
        display: flex;
        overflow: auto;
    }

    .topCharts {
        display: flex;
        overflow-x: auto;
    }
}


@media screen and (max-width:768px) {
    .container {
        padding-left: 0px;
    }
}