@import '../../styles/colors.scss';

.menuNav {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 60px;
}


.burgerClass {
    cursor: pointer;
    display: none;
    position: relative;
    right: 24px;
}

.burgerMenu {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    background: $darkColor;
    position: fixed;
    right: 0;
    top: 0;
    gap: 30px;
    padding: 16px 24px 112px 24px;
}
// .burgerClassInside{
//     position: relative;
//     top: 20px;
//     left: 20px;
// }

@media screen and (max-width:1023px) and (min-width:768px) {
    .burgerClass {
        display: flex;
        position: absolute;
    }


}