* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  color: #FFF;
  font-size: 96px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h2 {
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


h3 {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h4 {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

body {
  color: #FFF;  
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

