@import '../../styles/colors.scss';

.mobileNavBar {
    display: flex;
    justify-content: space-around;
    background: $darkColor;
    height: 64px;
    align-items: center;
}

.mobileNavList {
    display: flex;
    padding: 10px 15px;
    align-items: flex-start;
    gap: 10px;
}

.mobileNavComponent {
    display: flex;
    gap: 40px;
}

.activeClasses{
    color: $primayColor;
    font-size: 12px;
}

.nones {
    display: none;
}

.mobileNavText {
    font-size: 12px;
    color: $white;
    font-weight: 500;
    text-decoration: none;
}

.mobileNavLinks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-decoration: none;
}

@media screen and (max-width:768px) {}