@import '../../styles/colors.scss';

.fill {
    display: inline-flex;
    padding: 14px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #0F0F0F;
    cursor: pointer;
    color: $white;
    border: none;
    width: 252px;
}

.fill:hover {
    background-color: $similarGrayColor;
}

.text {
    background-color: white;
    color: $primayColor;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    background-color: none;
    cursor: pointer;
}

@media screen and (max-width:768px) {

    .text {
        font-size: 14px;
    }


}

@media screen and (max-width:599px) {
    .fill {
        width: 107px;
        padding: 8px 12px;
    }
}