@import '../../styles/colors.scss';

.albumsContainer {
    display: grid;
    width: 100%;
    grid-gap: 12px;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

@media screen and (max-width:768px) {
    
    .albumsContainer {
        width: 100%;
        overflow-x: auto;
    }
}
