@import '../../styles/colors.scss';

.albumsContainer {
    display: grid;
    width: 100%;
    grid-gap: 12px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 30px;
    cursor: pointer;
}




@media screen and (max-width: 1208px) and (min-width: 1024px) {
    .albumsContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width:768px) {

    .albumsContainer {
        width: 100%;
        overflow-x: auto;
    }
}