.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.libraryList {
    background: #161616;
    width: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    height: 50px;
    gap: 10px;
    padding-left: 10px;
}