@import '../../styles/colors.scss';

.albumsContainer {
    display: grid;
    width: 100%;
    grid-gap: 12px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    cursor: pointer;

}

@media screen and (max-width:768px) {
    .albumsContainer {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (min-width:1920px) {
    .albumsContainer {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}