.fullscreenContainer {
    display: none;
}

.arrowWrapper {
    display: none;
}

.trackPhoto{
    display: none;
}

.playerWrapper {
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .fullscreenContainer {
        width: 100%;
        height: 150vh;
        background: linear-gradient(180deg, #1F485F 0%, #121522 100%);
        display: flex;
        justify-content: center;
        overflow: hidden;
    }


    .back {
        padding-left: 20px;
        width: 40px;
        height: 40px;
        position: absolute;
        z-index: 22;
        left: 30px;
        top: 10px;
    }

    .trackInfo {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .trackName {
        color: #636363;
    }

    .trackDetails {
        display: flex;
        flex-direction: column;
        padding-left: 40px;
        padding-top: 10px;
    }

    .fullscreenWrapper {
        width: 100%;
    }

    .trackPhoto {
        width: 90%;
        height: 500px;
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    .shuffle {
        display: flex;
        justify-content: end;
        width: 90%;
    }

    .timeDisplay {
        width: 80%;
        margin: 0 auto;
    }

    .volume {
        width: 40%;
        margin: 0 auto;
    }

    .functionality {
        display: flex;
        justify-content: center;
        gap: 32px;
    }

    .arrowWrapper {
        display: none;
    }

    .tabletArrow {
        display: block;
        width: 100%;
        height: 200px;
        position: absolute;
    }

    
}

@media screen and (max-width:768px) {
    .fullscreenContainer {
        position: relative;
        width: 100%;
        height: 100vh;
        background: linear-gradient(180deg, #1F485F 0%, #121522 100%);
        display: block;
        justify-content: center;
    }

    .back {
        padding-left: 20px;
        width: 40px;
        height: 40px;
        position: absolute;
        z-index: 22;
        left: 15px;
        top: 10px;
    }

    .trackInfo {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .trackDetails {
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        padding-top: 10px;
    }

    .trackName {
        color: #636363;
    }

    .trackDetails {
        display: flex;
    }

    .fullscreenWrapper {
        width: 100%;
        height: 100%;
    }

    .trackPhoto {
        width: 90%;
        height: 380px;
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    .shuffle {
        display: flex;
        justify-content: end;
        width: 90%;
    }

    .timeDisplay {
        width: 80%;
        margin: 0 auto;
    }

    .volume {
        width: 80%;
        margin: 0 auto;
    }

    .functionality {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .arrowWrapper {
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;
        position: absolute;
        height: 90px;
        border-radius: 12px 12px 0px 0px;
        bottom: 50px;
    }

    .arrowWrapper.expanded {
        background: #0F0F0FCC;
        top: 215px;
        height: 67%;
        z-index: 4000;
        padding-top: 0px;
    }

    .nextPlay {
        display: none;
    }

    .nextSpan {
        padding-top: 20px;
    }

    .MusicList {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 22px;
        padding: 0px 16px 0px 16px;
        position: absolute;
    }

    .tabletArrow {
        display: none;
    }
}