.arrowWrappers {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    position: absolute;
    height: 310px;
    border-radius: 12px 12px 0px 0px;
    bottom: 0px;
    top: 680px;
    background: #0F0F0FCC;
    gap: 12px;

}

.arrowWrappers.expanded {
    background: #0F0F0FCC;
    height: 300px;
    z-index: 4000;
    padding-top: 0px;
    top: 500px;
}



.nextSpans {
    padding-top: 20px;
}

.MusicLists{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 26px;
    padding: 0px 16px 0px 16px;
    position: absolute;
}
