@import '../../styles/colors.scss';

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #121212;
}

.wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}

.topCharts {
    display: flex;
    color: $white;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.link {
    text-decoration: none;
}