.container {
    display: flex;
    position: relative;
}

.button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}

.menu {
    position: absolute;
    top: 14px;
    left: -237px;
    display: flex;
    width: 244px;
    height: 130px;
    flex-direction: column;
    background-color: #000000;
    border-radius: 8px;
    cursor: pointer;
    z-index: 99;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menuItem {
    padding: 15px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.create {
    font-size: 14px;
    padding: 8px;
}

.create:hover {
    background-color: #8A8A8A21;
    border-radius: 8px;
}

.playlistCont {
    overflow: auto;
    padding: 15px;
}

.menuItem::-webkit-scrollbar {
    display: none;
}

.playlist {
    display: flex;
    flex-direction: column;
    padding-bottom: 3px;
}

.playlistItem {
    font-size: 14px;
    padding: 8px;
}

.playlistItem:hover {
    background-color: #8A8A8A21;
    border-radius: 8px;
}